.device-config-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row-reverse;

  background-position: 50% 50%;
  background-size: cover;
  background-color: white;
}

.device-config-form {
  width: 320px;
  height: 100%;
  padding: 0 48px;

  display: flex;
  flex-direction: column;

  background-color: white;
  text-align: left;
}

.device-config-number-input {
  width: 79px;
  height: 40px;
  padding: 0 12px;
  box-sizing: border-box;

  align-items: center;

  border: 1px solid rgb(244, 244, 244);
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  background-color: rgb(244, 244, 244);

  transition: border 0.33s ease;
}

.device-config-number-input:focus {
  border: 1px solid #d0d1d1;
}

.device-config-link {
  cursor: pointer;
  box-shadow: 0 1px 0 0 currentColor;

  transition: all 0.33s ease;
}

.device-config-link:hover {
  color: #171a20;
  box-shadow: 0 2px 0 0 currentColor;
}

.device-config-tab {
  width: 160px;
  height: 40px;
  padding: 4px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
}

.device-config-tab button {
  width: 74px;
  padding: 0;
  box-sizing: content-box;

  border: none;
  border-radius: 2px;

  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(92, 94, 98);
  background-color: transparent;

  transition: all 0.33s ease;
}

.device-config-tab button.selected {
  color: rgb(23, 26, 32);
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
